.header1{
    margin-bottom: 80px;
}
.header1 img{
    width: 100%;
}
.a1{
    color: brown;
}
.p1{
    text-align: center;
    color:  cornflowerblue;
}
.a{
    color: #ff0080;
    text-align: center;
}
.b{
    color: chocolate;
}
.slogan{
    margin: 50px 0;
    height: 80px;
}